<div>
	<p class="input-group" style="width: 400px;">
		<span class="input-group-addon" style="width: 140px; text-align: left;">First name:</span>
		<input type="text" class="form-control" ng-model="wizardDataModelPage1.firstName" placeholder="first name" />
	</p>
	<p class="input-group" style="width: 400px;">
		<span class="input-group-addon" style="width: 140px; text-align: left;">Last name:</span>
		<input type="text" class="form-control" ng-model="wizardDataModelPage1.lastName" placeholder="last name" />
	</p>
	<hr style="width: 415px; text-align: left;" />
	<div>
		<a href="#" class="btn btn-info" ng-click="step2()">Next</a>
	</div>
</div>
